<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Predicción con Red Neuronal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Proyecto final BI</h1>
        <h2>Predicción con Red Neuronal</h2>
        <form action="/predict" method="post">
            <div class="input-group">
                <label for="caracteristica_1">Característica 1:</label>
                <input type="text" id="caracteristica_1" name="caracteristica_1" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_2">Característica 2:</label>
                <input type="text" id="caracteristica_2" name="caracteristica_2" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_3">Característica 3:</label>
                <input type="text" id="caracteristica_3" name="caracteristica_3" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_4">Característica 4:</label>
                <input type="text" id="caracteristica_4" name="caracteristica_4" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_5">Característica 5:</label>
                <input type="text" id="caracteristica_5" name="caracteristica_5" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_6">Característica 6:</label>
                <input type="text" id="caracteristica_6" name="caracteristica_6" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_7">Característica 7:</label>
                <input type="text" id="caracteristica_7" name="caracteristica_7" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_8">Característica 8:</label>
                <input type="text" id="caracteristica_8" name="caracteristica_8" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_9">Característica 9:</label>
                <input type="text" id="caracteristica_9" name="caracteristica_9" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_10">Característica 10:</label>
                <input type="text" id="caracteristica_10" name="caracteristica_10" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_11">Característica 11:</label>
                <input type="text" id="caracteristica_11" name="caracteristica_11" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_12">Característica 12:</label>
                <input type="text" id="caracteristica_12" name="caracteristica_12" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_13">Característica 13:</label>
                <input type="text" id="caracteristica_13" name="caracteristica_13" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_14">Característica 14:</label>
                <input type="text" id="caracteristica_14" name="caracteristica_14" required>
            </div>
            <div class="input-group">
                <label for="caracteristica_15">Característica 15:</label>
                <input type="text" id="caracteristica_15" name="caracteristica_15" required>
            </div>
            <button type="submit">Realizar Predicción</button>
        </form>
    </div>

    <footer>
        <div class="container2">
            <p>2024 | Desarrollado por</p>
            <p>Christian Gaibor & Marlon Copara</p>
        </div>
    </footer>
</body>
</html>
